@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 100;
	src: url('../../public/fonts/iransans/woff/IRANSansX-Thin.woff') format('woff'),   
	url('../../public/fonts/iransans/woff2/IRANSansX-Thin.woff2') format('woff2');		
}
@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 200;
	src: url('../../public/fonts/iransans/woff/IRANSansX-UltraLight.woff') format('woff'),   
	url('../../public/fonts/iransans/woff2/IRANSansX-UltraLight.woff2') format('woff2');	
}
@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 300;
	src: url('../../public/fonts/iransans/woff/IRANSansX-Light.woff') format('woff'),   
	url('../../public/fonts/iransans/woff2/IRANSansX-Light.woff2') format('woff2');		 
}
@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 500;
	src: url('../../public/fonts/iransans/woff/IRANSansX-Medium.woff') format('woff'),   
	url('../../public/fonts/iransans/woff2/IRANSansX-Medium.woff2') format('woff2');		 
}
@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 600;
	src: url('../../public/fonts/iransans/woff/IRANSansX-DemiBold.woff') format('woff'),   
	url('../../public/fonts/iransans/woff2/IRANSansX-DemiBold.woff2') format('woff2');	 
}
@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 800;
	src: url('../../public/fonts/iransans/woff/IRANSansX-ExtraBold.woff') format('woff'),   
	url('../../public/fonts/iransans/woff2/IRANSansX-ExtraBold.woff2') format('woff2');		 
}
@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: 900;
	src: url('../../public/fonts/iransans/woff/IRANSansX-Black.woff') format('woff'),   
	url('../../public/fonts/iransans/woff2/IRANSansX-Black.woff2') format('woff2');		 
}
@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: bold;
	src: url('../../public/fonts/iransans/woff/IRANSansX-Bold.woff') format('woff'),   
	url('../../public/fonts/iransans/woff2/IRANSansX-Bold.woff2') format('woff2');	 
}
@font-face {
	font-family: "IRANSans";
	font-style: normal;
	font-weight: normal;
	src: url('../../public/fonts/iransans/woff/IRANSansX-Regular.woff') format('woff'),   
	url('../../public/fonts/iransans/woff2/IRANSansX-Regular.woff2') format('woff2');	
}
@font-face {
	font-family: "roosta";
	font-style: normal;
	font-weight: 100;
	src: url('../../public/fonts/roosta/ZahraRoosta.woff') format('woff'),   
	url('../../public/fonts/roosta/ZahraRoosta.woff2') format('woff2');		
}
@font-face {
	font-family: "nozha";
	font-style: normal;
	font-weight: 100;
	src: url('../../public/fonts/nozha/DigiNozha2Bold.woff') format('woff'),   
	url('../../public/fonts/nozha/DigiNozha2Bold.woff2') format('woff2');		
}

* {
	font-family: "iransans", serif;
	direction: rtl;
	text-align: right;
}

.roosta {
	font-family: "roosta", serif !important;
}

.nozha {
	font-family: "nozha" , "iransans" , serif !important;
}

.text-shadow {
	text-shadow: 0 0 .6rem #1f0218;
}

/* ! Big Swiper in home-page */

.btnHoverToRight {
	display: flex !important;
	align-items: center;
	outline: none;
	cursor: pointer;
	border: none;
	padding: 1rem 2rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
	font-weight: 700;
	border-radius: 300px;
	border: 1px solid #ED078B;
	overflow: hidden;
	background: #ED078B;
	color: #fff;
	transition: all .4s;
}

.btnHoverToRight.bgTransparent {
	background: transparent;
	color: #ED078B;
}

.btnHoverToRight span {
	position: relative;
	z-index: 10;
	transition: color 0.4s;
}

.bgTransparent.btnHoverToRight:hover span {
	color: #fff;
}

.btnHoverToRight:hover span {
	color: #ED078B;
}

.btnHoverToRight:hover {
	background-color: #fff;
}

.btnHoverToRight.bgTransparent:hover {
	background-color: #ED078B;
}

.btnHoverToRight::before,
.btnHoverToRight::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.btnHoverToRight::before {
	content: "";
	background: #ED078B;
	width: 120%;
	left: -10%;
	transform: skew(30deg);
	transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.bgTransparent.btnHoverToRight::before {
	background: transparent;
}

.btnHoverToRight:hover::before {
	transform: translate3d(100%, 0, 0);
}

/*! Home Slider (SWIPER) */

.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.autoplay-progress {
	position: absolute;
	right: .2rem;
	bottom: .2rem;
	z-index: 10;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 4px;
	stroke: var(--swiper-theme-color);
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
  }