@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	direction: rtl;
	text-align: right;
}

.text-shadow {
	text-shadow: 0 0 .6rem #1f0218;
}

.nav-box-shadow {
	box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.06);
}

/* ! scroll bar ========== */
::-webkit-scrollbar-track
{
	background-color: rgb(240, 240, 240);
	border-radius: 1rem !important;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
	background-color: #74b9ff;
	border-radius: 10px;
}

/* ! Range Input ========= */

.rangeInput {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: .5rem;
	background: rgba(30, 143, 255, 0.189);
	outline: none;
	-webkit-transition: .2s;
	transition: all .2s;
	border-radius: .5rem;
	/* border: 1px solid ; */
}

.rangeInput:hover {
	transform: scale(1.1);
}

.rangeInput::-webkit-slider-thumb:hover {
	transform: scale(1.2);
}

.rangeInput::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.2rem;
	height: 1.2rem;
	background: dodgerblue;
	cursor: pointer;
	border-radius: 100%;
	transition: all .2s;
}

.rangeInput::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}


/* ! Big Swiper in home-page */

.btnHoverToRight {
	display: flex !important;
	align-items: center;
	outline: none;
	cursor: pointer;
	border: none;
	padding: 1rem 2rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
	font-weight: 700;
	border-radius: 300px;
	border: 1px solid #ED078B;
	overflow: hidden;
	background: #ED078B;
	color: #fff;
	transition: all .4s;
}

.btnHoverToRight.bgTransparent {
	background: transparent;
	color: #ED078B;
}

.btnHoverToRight span {
	position: relative;
	z-index: 10;
	transition: color 0.4s;
}

.bgTransparent.btnHoverToRight:hover span {
	color: #fff;
}

.btnHoverToRight:hover span {
	color: #ED078B;
}

.btnHoverToRight:hover {
	background-color: #fff;
}

.btnHoverToRight.bgTransparent:hover {
	background-color: #ED078B;
}

.btnHoverToRight::before,
.btnHoverToRight::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.btnHoverToRight::before {
	content: "";
	background: #ED078B;
	width: 120%;
	left: -10%;
	transform: skew(30deg);
	transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.bgTransparent.btnHoverToRight::before {
	background: transparent;
}

.btnHoverToRight:hover::before {
	transform: translate3d(100%, 0, 0);
}

/*! Home Slider (SWIPER) */

.swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.autoplay-progress {
	position: absolute;
	right: .2rem;
	bottom: .2rem;
	z-index: 10;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 4px;
	stroke: var(--swiper-theme-color);
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
  }

/* ! home slider --- sentences */

.sentence-slider .swiper-button-next, .sentence-slider .swiper-button-prev {
	color: white !important;
	width: 86px;
	height: 86px;
	border: 1px solid white;
	padding: 100px;
	border-radius: 9999px;
	transform: matrix(0.3, 0, 0, 0.3, 0, -72);
}

/* ! forms --- checksbox */

/* Hide the default checkbox */
.myCheckbox input {
	display: none;
  }
  
  .myCheckbox {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 20px;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: relative;
	top: 0;
	left: 0;
	height: 1.05em;
	width: 1.05em;
	background-color: #2196F300;
	border-radius: 0.25em;
	transition: all 0.25s;
  }
  
  /* When the checkbox is checked, add a blue background */
  .myCheckbox input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	transform: rotate(0deg);
	border: 1px solid rgb(156 163 175);
	left: 0;
	top: 0;
	width: 1.05em;
	height: 1.05em;
	border-radius: 0.25em;
	transition: all 0.25s, border-width 0.1s;
	background-color: white;
  }
  
  /* Show the checkmark when checked */
  .myCheckbox input:checked ~ .checkmark:after {
	left: 0.35em;
	top: 0.15em;
	width: 0.4rem;
	height: 0.8rem;
	border-color: #fff0 white white #fff0;
	border-width: 0 0.15em 0.15em 0;
	border-radius: 0em;
	transform: rotate(45deg);
	background-color: unset;
  }

